<a href="https://colab.research.google.com/github/elizabethavargas/Dataset-Description-Generation/blob/main/create_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Create Dataset

In [ ]:
# packages
import random
import requests
import pandas as pd

### Get list of datasets on NYC Open Data

In [7]:
# Base URL for the NYC Open Data Socrata API
base_url = "https://data.cityofnewyork.us/api/views.json"

try:
    response = requests.get(base_url)
    response.raise_for_status()  # Raise an exception for bad status codes
    datasets_data = response.json()

    # Extract id and name for each dataset
    datasets_list = []
    for dataset in datasets_data:
        if 'id' in dataset and 'name' in dataset:
            datasets_list.append({'id': dataset['id'], 'name': dataset['name']})

    # Print confirmation message
    print(f"Successfully listed {len(datasets_list)} datasets.")

except requests.exceptions.RequestException as e:
    print(f"Error fetching data: {e}")
except ValueError:
    print("Error decoding JSON response. The response might not be in JSON format.")

Successfully listed 3018 datasets.

In [ ]:
https://data.cityofnewyork.us/api/views/hukm-2fri.json

In [9]:
# Randomly select 10 datasets
num_datasets_to_query = 10
selected_datasets = random.sample(datasets_list, num_datasets_to_query)
selected_datasets

[{'id': 'yv4m-nu6d', 'name': '3K Projects by Site Locations'},
 {'id': '8p6c-94pc',
  'name': '"Kids In Motion" Playground Programming: 2016 to 2021'},
 {'id': '3qgi-jrgw', 'name': 'Seating Locations - Map'},
 {'id': 'j9we-9a43', 'name': 'NYCgov Poverty Measure Data (2009)'},
 {'id': '4e2n-s75z',
  'name': 'Suitability of City-Owned and Leased Property for Urban Agriculture (LL 48 of 2011)'},
 {'id': 'unse-x4pq', 'name': '2022 SHSAT + DISCOVERY OVERALL SUMMARY'},
 {'id': 'kd8f-uxui',
  'name': '2017-2018 Physical Education - Supplemental Programs'},
 {'id': '9y58-8zvz',
  'name': 'Waterfront Public Access Areas (WPAAs) - Access Points'},
 {'id': 'w99a-xtai', 'name': 'Fall 2020 Admissions Report LL1486-A Part II'},
 {'id': 'vnz6-h2k4', 'name': 'Historical License Applications'}]

In [12]:
for dataset in selected_datasets:
    dataset_id = dataset['id']
    dataset_name = dataset['name']
    print(f"\n--- Querying dataset: {dataset_name} (ID: {dataset_id}) ---")

    # Construct the API endpoint URL for the dataset (for data)
    dataset_url = f"https://data.cityofnewyork.us/resource/{dataset_id}.json"
    # Construct the API endpoint URL for the metadata
    #metadata_url = f"https://data.cityofnewyork.us/api/views/{dataset_id}/columns.json"
    metadata_url = f"https://data.cityofnewyork.us/api/views/{dataset_id}.json"


    try:
        # Fetch Data (limited to 5 rows)
        print("Fetching data...")
        data_response = requests.get(dataset_url, params={'$limit': 1})
        data_response.raise_for_status()  # Raise an exception for bad status codes
        data = data_response.json()

        if data:
            df = pd.DataFrame(data)
            print(f"Successfully retrieved data for {dataset_name}:")
            display(df.head())
        else:
            print(f"No data returned for dataset: {dataset_name}")


    except requests.exceptions.RequestException as e:
        print(f"Error fetching data for {dataset_name}: {e}")
    except ValueError:
        print(f"Error decoding JSON response for data of {dataset_name}. The response might not be in JSON format.")
    except Exception as e:
        print(f"An unexpected error occurred while processing data for {dataset_name}: {e}")

    try:
        # Fetch Metadata
        print("Fetching metadata...")
        metadata_response = requests.get(metadata_url)
        metadata_response.raise_for_status() # Raise an exception for bad status codes
        metadata = metadata_response.json()

        if metadata:
            print(f"Successfully retrieved metadata for {dataset_name}:")
            # Display metadata - you might want to format this differently
            # For now, printing the whole metadata dictionary
            display(metadata)
            print('SELECT', metadata['name'], 'CAT', metadata['category'], 'DESC', metadata['description'])
            break
        else:
            break
            print(f"No metadata returned for dataset: {dataset_name}")

    except requests.exceptions.RequestException as e:
        print(f"Error fetching metadata for {dataset_name}: {e}")
    except ValueError:
        print(f"Error decoding JSON response for metadata of {dataset_name}. The response might not be in JSON format.")
    except Exception as e:
        print(f"An unexpected error occurred while processing metadata for {dataset_name}: {e}")

--- Querying dataset: 3K Projects by Site Locations (ID: yv4m-nu6d) ---
Fetching data...
Successfully retrieved data for 3K Projects by Site Locations:

,district,school,borough,location,postcode,latitude,longitude,community_board,council_district,bin,bbl,census_tract,nta
0,2,3K CENTER @ 330 EAST 38TH STREET,MANHATTAN,330 EAST 38TH STREET,10016,40.746742,-73.972741,106,4,1076166,1009437501,78,MN0603

Fetching metadata...
Successfully retrieved metadata for 3K Projects by Site Locations:

{'id': 'yv4m-nu6d',
 'name': '3K Projects by Site Locations',
 'assetType': 'dataset',
 'averageRating': 0,
 'category': 'Education',
 'createdAt': 1542832469,
 'description': '3K Projects by Site Locations',
 'diciBackend': False,
 'displayType': 'table',
 'downloadCount': 1201,
 'hideFromCatalog': False,
 'hideFromDataJson': False,
 'indexUpdatedAt': 1542832881,
 'locked': False,
 'newBackend': True,
 'numberOfComments': 0,
 'oid': 30190517,
 'provenance': 'official',
 'publicationAppendEnabled': False,
 'publicationDate': 1542832786,
 'publicationGroup': 15704724,
 'publicationStage': 'published',
 'rowsUpdatedAt': 1683121099,
 'tableId': 15704724,
 'totalTimesRated': 0,
 'viewCount': 803,
 'viewLastModified': 1683121098,
 'viewType': 'tabular',
 'approvals': [{'reviewedAt': 1542832786,
   'reviewedAutomatically': True,
   'state': 'approved',
   'submissionId': 1077943,
   'submissionObject': 'public_audience_request',
   'submissionOutcome': 'change_audience',
   'submittedAt': 1542832786,
   'targetAudience': 'public',
   'workflowId': 2285,
   'submissionDetails': {'permissionType': 'READ'},
   'submissionOutcomeApplication': {'failureCount': 0, 'status': 'success'},
   'submitter': {'id': '5fuc-pqz2', 'displayName': 'NYC OpenData'}}],
 'clientContext': {'clientContextVariables': [], 'inheritedVariables': {}},
 'columns': [{'id': 384977185,
   'name': 'DISTRICT',
   'dataTypeName': 'number',
   'description': '',
   'fieldName': 'district',
   'position': 1,
   'renderTypeName': 'number',
   'tableColumnId': 73561264,
   'cachedContents': {'largest': '31',
    'non_null': '47',
    'average': '29',
    'null': '0',
    'top': [{'item': '31', 'count': '7'},
     {'item': '24', 'count': '7'},
     {'item': '2', 'count': '4'},
     {'item': '11', 'count': '3'},
     {'item': '30', 'count': '3'},
     {'item': '25', 'count': '3'},
     {'item': '15', 'count': '3'},
     {'item': '9', 'count': '2'},
     {'item': '29', 'count': '2'},
     {'item': '20', 'count': '2'},
     {'item': '28', 'count': '2'},
     {'item': '26', 'count': '2'},
     {'item': '22', 'count': '2'},
     {'item': '7', 'count': '1'},
     {'item': '10', 'count': '1'},
     {'item': '3', 'count': '1'},
     {'item': '12', 'count': '1'},
     {'item': '27', 'count': '1'}],
    'smallest': '2',
    'count': '47',
    'sum': '29',
    'cardinality': '18'},
   'format': {}},
  {'id': 384977195,
   'name': 'SCHOOL',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'school',
   'position': 2,
   'renderTypeName': 'text',
   'tableColumnId': 73561274,
   'cachedContents': {'largest': 'THE RICHMOND PRE-K CENTER @ 375 TOMPKINS AVENUE',
    'non_null': '47',
    'null': '0',
    'top': [{'item': '3K CENTER @ 1972 BROADWAY', 'count': '1'},
     {'item': 'THE RICHMOND PRE-K CENTER @ 1275 WOODROW ROAD', 'count': '1'},
     {'item': '3K CENTER @ 98-05 63RD DRIVE', 'count': '1'},
     {'item': '3K CENTER II @ 186-16 UNION TURNPIKE', 'count': '1'},
     {'item': '3K CENTER @ 18-31 131ST STREET', 'count': '1'},
     {'item': 'THE RICHMOND PRE-K CENTER @ 2389 RICHMOND AVENUE',
      'count': '1'},
     {'item': '3K CENTER @ 2659 WEBSTER AVENUE', 'count': '1'},
     {'item': '3K CENTER @ 1450 PLIMPTON AVENUE', 'count': '1'},
     {'item': '3K CENTER @ 403 EAST 65TH STREET', 'count': '1'},
     {'item': 'DISTRICT 29 PRE-K CENTER @ 134-35 SPRINGFIELD BOULEVARD',
      'count': '1'},
     {'item': '3K CENTER @ 5202 3RD AVENUE', 'count': '1'},
     {'item': '3K CENTER @ 1070 FLATBUSH AVENUE', 'count': '1'},
     {'item': '3K CENTER @ 365 BAY STREET', 'count': '1'},
     {'item': 'DISTRICT 12 PRE-K CENTER @ 1222 PROSPECT AVENUE', 'count': '1'},
     {'item': '3K CENTER @ 2020 WHITE PLAINS ROAD', 'count': '1'},
     {'item': 'THE RICHMOND PRE-K CENTER @ 1800 RICHMOND TERRACE',
      'count': '1'},
     {'item': '3K CENTER @ 4183 THIRD AVENUE', 'count': '1'},
     {'item': '3K CENTER @ 4822 NEW UTRECHT AVENUE', 'count': '1'},
     {'item': 'LEARNING THROUGH PLAY PRE-K CENTER @ 443 EAST 162ND STREET',
      'count': '1'},
     {'item': '3K CENTER @ 40-08/16 34TH AVENUE', 'count': '1'}],
    'smallest': '3K CENTER @ 1010 THIRD AVENUE',
    'count': '47',
    'cardinality': '47'},
   'format': {}},
  {'id': 384977201,
   'name': 'BOROUGH',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'borough',
   'position': 3,
   'renderTypeName': 'text',
   'tableColumnId': 73561280,
   'cachedContents': {'largest': 'STATEN ISLAND',
    'non_null': '47',
    'null': '0',
    'top': [{'item': 'QUEENS', 'count': '20'},
     {'item': 'BRONX', 'count': '8'},
     {'item': 'STATEN ISLAND', 'count': '7'},
     {'item': 'BROOKLYN', 'count': '7'},
     {'item': 'MANHATTAN', 'count': '5'}],
    'smallest': 'BRONX',
    'count': '47',
    'cardinality': '5'},
   'format': {}},
  {'id': 384977206,
   'name': 'LOCATION',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'location',
   'position': 4,
   'renderTypeName': 'text',
   'tableColumnId': 73561285,
   'cachedContents': {'largest': '98-05 63RD DRIVE',
    'non_null': '47',
    'null': '0',
    'top': [{'item': '2040 FOREST AVENUE', 'count': '1'},
     {'item': '10 ELM STREET', 'count': '1'},
     {'item': '163-165 EAST 84TH STREET', 'count': '1'},
     {'item': '186-16 UNION TURNPIKE', 'count': '1'},
     {'item': '337 74TH STREET', 'count': '1'},
     {'item': '2389 RICHMOND AVENUE', 'count': '1'},
     {'item': '61-02/10 LAUREL HILL BLVD', 'count': '1'},
     {'item': '104-78 ROOSEVELT AVENUE', 'count': '1'},
     {'item': '134-35 SPRINGFIELD BOULEVARD', 'count': '1'},
     {'item': '1070 FLATBUSH AVENUE', 'count': '1'},
     {'item': '2020 WHITE PLAINS ROAD', 'count': '1'},
     {'item': '403 EAST 65TH STREET', 'count': '1'},
     {'item': '63-57 FRESH POND ROAD', 'count': '1'},
     {'item': '1275 WOODROW ROAD', 'count': '1'},
     {'item': '185 BEACH 99TH STREET', 'count': '1'},
     {'item': '75-01 BROADWAY', 'count': '1'},
     {'item': '5202 3RD AVENUE', 'count': '1'},
     {'item': '1326 EAST 57 STREET', 'count': '1'},
     {'item': '3893 DYRE AVENUE', 'count': '1'},
     {'item': '98-05 63RD DRIVE', 'count': '1'}],
    'smallest': '1010 THIRD AVENUE',
    'count': '47',
    'cardinality': '47'},
   'format': {}},
  {'id': 384977295,
   'name': 'Postcode',
   'dataTypeName': 'number',
   'description': '',
   'fieldName': 'postcode',
   'position': 5,
   'renderTypeName': 'number',
   'tableColumnId': 73561331,
   'cachedContents': {'largest': '11694',
    'non_null': '45',
    'average': '11428',
    'null': '2',
    'top': [{'item': '11101', 'count': '3'},
     {'item': '10310', 'count': '2'},
     {'item': '11366', 'count': '2'},
     {'item': '10065', 'count': '2'},
     {'item': '11373', 'count': '2'},
     {'item': '11385', 'count': '2'},
     {'item': '11219', 'count': '1'},
     {'item': '11374', 'count': '1'},
     {'item': '11201', 'count': '1'},
     {'item': '11356', 'count': '1'},
     {'item': '11226', 'count': '1'},
     {'item': '11413', 'count': '1'},
     {'item': '11694', 'count': '1'},
     {'item': '11432', 'count': '1'},
     {'item': '10462', 'count': '1'},
     {'item': '10458', 'count': '1'},
     {'item': '11357', 'count': '1'},
     {'item': '10305', 'count': '1'},
     {'item': '10451', 'count': '1'},
     {'item': '11428', 'count': '1'}],
    'smallest': '10016',
    'count': '47',
    'sum': '11428',
    'cardinality': '38'},
   'format': {'noCommas': 'true'}},
  {'id': 384977244,
   'name': 'Latitude',
   'dataTypeName': 'number',
   'description': '',
   'fieldName': 'latitude',
   'position': 6,
   'renderTypeName': 'number',
   'tableColumnId': 73561309,
   'cachedContents': {'largest': '40.888925',
    'non_null': '45',
    'average': '40.723336',
    'null': '2',
    'top': [{'item': '40.739445', 'count': '1'},
     {'item': '40.746742', 'count': '1'},
     {'item': '40.845973', 'count': '1'},
     {'item': '40.688841', 'count': '1'},
     {'item': '40.863677', 'count': '1'},
     {'item': '40.843998', 'count': '1'},
     {'item': '40.616265', 'count': '1'},
     {'item': '40.637193', 'count': '1'},
     {'item': '40.68417', 'count': '1'},
     {'item': '40.731041', 'count': '1'},
     {'item': '40.728705', 'count': '1'},
     {'item': '40.701684', 'count': '1'},
     {'item': '40.641761', 'count': '1'},
     {'item': '40.626017', 'count': '1'},
     {'item': '40.753292', 'count': '1'},
     {'item': '40.633326', 'count': '1'},
     {'item': '40.782958', 'count': '1'},
     {'item': '40.826959', 'count': '1'},
     {'item': '40.888925', 'count': '1'},
     {'item': '40.756363', 'count': '1'}],
    'smallest': '40.541743',
    'count': '47',
    'sum': '40.723336',
    'cardinality': '45'},
   'format': {}},
  {'id': 384977273,
   'name': 'Longitude',
   'dataTypeName': 'number',
   'description': '',
   'fieldName': 'longitude',
   'position': 7,
   'renderTypeName': 'number',
   'tableColumnId': 73561318,
   'cachedContents': {'largest': '-73.752992',
    'non_null': '45',
    'average': '-73.736561',
    'null': '2',
    'top': [{'item': '-73.989857', 'count': '1'},
     {'item': '-73.943381', 'count': '1'},
     {'item': '-73.899573', 'count': '1'},
     {'item': '-73.890208', 'count': '1'},
     {'item': '-74.026398', 'count': '1'},
     {'item': '-73.966071', 'count': '1'},
     {'item': '-74.00556', 'count': '1'},
     {'item': '-73.896535', 'count': '1'},
     {'item': '-73.972741', 'count': '1'},
     {'item': '-73.994682', 'count': '1'},
     {'item': '-73.752992', 'count': '1'},
     {'item': '-73.929363', 'count': '1'},
     {'item': '-74.015838', 'count': '1'},
     {'item': '-73.912521', 'count': '1'},
     {'item': '-73.820117', 'count': '1'},
     {'item': '-73.9822', 'count': '1'},
     {'item': '-74.156541', 'count': '1'},
     {'item': '-73.922008', 'count': '1'},
     {'item': '-73.837713', 'count': '1'},
     {'item': '-73.898577', 'count': '1'}],
    'smallest': '-74.207139',
    'count': '47',
    'sum': '-73.736561',
    'cardinality': '45'},
   'format': {}},
  {'id': 384977290,
   'name': 'Community Board',
   'dataTypeName': 'number',
   'description': '',
   'fieldName': 'community_board',
   'position': 8,
   'renderTypeName': 'number',
   'tableColumnId': 73561326,
   'cachedContents': {'largest': '503',
    'non_null': '45',
    'average': '13',
    'null': '2',
    'top': [{'item': '501', 'count': '5'},
     {'item': '108', 'count': '3'},
     {'item': '407', 'count': '3'},
     {'item': '404', 'count': '3'},
     {'item': '405', 'count': '2'},
     {'item': '401', 'count': '2'},
     {'item': '408', 'count': '2'},
     {'item': '413', 'count': '2'},
     {'item': '212', 'count': '2'},
     {'item': '106', 'count': '1'},
     {'item': '314', 'count': '1'},
     {'item': '414', 'count': '1'},
     {'item': '306', 'count': '1'},
     {'item': '302', 'count': '1'},
     {'item': '211', 'count': '1'},
     {'item': '502', 'count': '1'},
     {'item': '412', 'count': '1'},
     {'item': '310', 'count': '1'},
     {'item': '202', 'count': '1'},
     {'item': '402', 'count': '1'}],
    'smallest': '106',
    'count': '47',
    'sum': '13',
    'cardinality': '30'},
   'format': {}},
  {'id': 384977293,
   'name': 'Council District',
   'dataTypeName': 'number',
   'description': '',
   'fieldName': 'council_district',
   'position': 9,
   'renderTypeName': 'number',
   'tableColumnId': 73561329,
   'cachedContents': {'largest': '51',
    'non_null': '45',
    'average': '23',
    'null': '2',
    'top': [{'item': '49', 'count': '5'},
     {'item': '24', 'count': '3'},
     {'item': '26', 'count': '3'},
     {'item': '4', 'count': '3'},
     {'item': '19', 'count': '2'},
     {'item': '17', 'count': '2'},
     {'item': '25', 'count': '2'},
     {'item': '32', 'count': '2'},
     {'item': '51', 'count': '2'},
     {'item': '15', 'count': '2'},
     {'item': '12', 'count': '2'},
     {'item': '31', 'count': '1'},
     {'item': '23', 'count': '1'},
     {'item': '44', 'count': '1'},
     {'item': '27', 'count': '1'},
     {'item': '39', 'count': '1'},
     {'item': '33', 'count': '1'},
     {'item': '30', 'count': '1'},
     {'item': '46', 'count': '1'},
     {'item': '38', 'count': '1'}],
    'smallest': '4',
    'count': '47',
    'sum': '23',
    'cardinality': '28'},
   'format': {}},
  {'id': 384977310,
   'name': 'BIN',
   'dataTypeName': 'number',
   'description': '',
   'fieldName': 'bin',
   'position': 10,
   'renderTypeName': 'number',
   'tableColumnId': 73561337,
   'cachedContents': {'largest': '5168587',
    'non_null': '45',
    'average': '4229342',
    'null': '2',
    'top': [{'item': '4224473', 'count': '1'},
     {'item': '4156125', 'count': '1'},
     {'item': '2059732', 'count': '1'},
     {'item': '5159763', 'count': '1'},
     {'item': '1045392', 'count': '1'},
     {'item': '2047885', 'count': '1'},
     {'item': '4155491', 'count': '1'},
     {'item': '3388017', 'count': '1'},
     {'item': '3345503', 'count': '1'},
     {'item': '5079744', 'count': '1'},
     {'item': '4098778', 'count': '1'},
     {'item': '3339304', 'count': '1'},
     {'item': '4090330', 'count': '1'},
     {'item': '2087375', 'count': '1'},
     {'item': '3004598', 'count': '1'},
     {'item': '1028840', 'count': '1'},
     {'item': '2129268', 'count': '1'},
     {'item': '4087482', 'count': '1'},
     {'item': '1076166', 'count': '1'},
     {'item': '2016370', 'count': '1'}],
    'smallest': '1028840',
    'count': '47',
    'sum': '4229342',
    'cardinality': '45'},
   'format': {'noCommas': 'true'}},
  {'id': 384977313,
   'name': 'BBL',
   'dataTypeName': 'number',
   'description': '',
   'fieldName': 'bbl',
   'position': 11,
   'renderTypeName': 'number',
   'tableColumnId': 73561340,
   'cachedContents': {'largest': '5061450016',
    'non_null': '45',
    'average': '4107040020',
    'null': '2',
    'top': [{'item': '5001580006', 'count': '1'},
     {'item': '1009437501', 'count': '1'},
     {'item': '5023800600', 'count': '1'},
     {'item': '3051520012', 'count': '1'},
     {'item': '4004730548', 'count': '1'},
     {'item': '2026937502', 'count': '1'},
     {'item': '5016960008', 'count': '1'},
     {'item': '2047050020', 'count': '1'},
     {'item': '4130130039', 'count': '1'},
     {'item': '3008050045', 'count': '1'},
     {'item': '2049470017', 'count': '1'},
     {'item': '1011387501', 'count': '1'},
     {'item': '4036090001', 'count': '1'},
     {'item': '4050450001', 'count': '1'},
     {'item': '4161720020', 'count': '1'},
     {'item': '2042570030', 'count': '1'},
     {'item': '4072290020', 'count': '1'},
     {'item': '4105400005', 'count': '1'},
     {'item': '5002000024', 'count': '1'},
     {'item': '4002290025', 'count': '1'}],
    'smallest': '1009437501',
    'count': '47',
    'sum': '4107040020',
    'cardinality': '45'},
   'format': {'noCommas': 'true'}},
  {'id': 384977312,
   'name': 'Census Tract (2020)',
   'dataTypeName': 'number',
   'description': '',
   'fieldName': 'census_tract',
   'position': 12,
   'renderTypeName': 'number',
   'tableColumnId': 73561339,
   'cachedContents': {'largest': '94201',
    'non_null': '45',
    'average': '560',
    'null': '2',
    'top': [{'item': '1277', 'count': '2'},
     {'item': '945', 'count': '2'},
     {'item': '43', 'count': '1'},
     {'item': '44601', 'count': '1'},
     {'item': '27706', 'count': '1'},
     {'item': '66', 'count': '1'},
     {'item': '189', 'count': '1'},
     {'item': '395', 'count': '1'},
     {'item': '267', 'count': '1'},
     {'item': '20806', 'count': '1'},
     {'item': '40301', 'count': '1'},
     {'item': '30302', 'count': '1'},
     {'item': '358', 'count': '1'},
     {'item': '78', 'count': '1'},
     {'item': '131', 'count': '1'},
     {'item': '853', 'count': '1'},
     {'item': '20', 'count': '1'},
     {'item': '514', 'count': '1'},
     {'item': '230', 'count': '1'},
     {'item': '496', 'count': '1'}],
    'smallest': '8',
    'count': '47',
    'sum': '560',
    'cardinality': '43'},
   'format': {'noCommas': 'true'}},
  {'id': 384977308,
   'name': 'Neighborhood Tabulation Area (NTA) (2020)',
   'dataTypeName': 'text',
   'description': '',
   'fieldName': 'nta',
   'position': 13,
   'renderTypeName': 'text',
   'tableColumnId': 73561335,
   'cachedContents': {'largest': 'SI0303',
    'non_null': '45',
    'null': '2',
    'top': [{'item': 'QN0401', 'count': '2'},
     {'item': 'QN0804', 'count': '2'},
     {'item': 'MN0802', 'count': '2'},
     {'item': 'QN0701', 'count': '2'},
     {'item': 'BX0403', 'count': '1'},
     {'item': 'BX0602', 'count': '1'},
     {'item': 'QN1402', 'count': '1'},
     {'item': 'QN0202', 'count': '1'},
     {'item': 'BX0202', 'count': '1'},
     {'item': 'BX1202', 'count': '1'},
     {'item': 'QN0104', 'count': '1'},
     {'item': 'BX0301', 'count': '1'},
     {'item': 'BK1202', 'count': '1'},
     {'item': 'SI0106', 'count': '1'},
     {'item': 'QN1305', 'count': '1'},
     {'item': 'SI0204', 'count': '1'},
     {'item': 'SI0303', 'count': '1'},
     {'item': 'SI0104', 'count': '1'},
     {'item': 'BK0601', 'count': '1'},
     {'item': 'BK1001', 'count': '1'}],
    'smallest': 'BK0202',
    'count': '47',
    'cardinality': '41'},
   'format': {}}],
 'grants': [{'inherited': False, 'type': 'viewer', 'flags': ['public']}],
 'metadata': {'attachments': [{'filename': 'Data Dictionary 3K Project Site Location_11212018.xls',
    'assetId': '46744fc8-53df-4d42-aba0-dc0bd4ec569a',
    'name': 'Data Dictionary 3K Project Site Location_11212018.xls'}],
  'custom_fields': {'Update': {'Automation': 'No',
    'Date Made Public': '11/21/2018',
    'Update Frequency': 'As needed'},
   'Dataset Information': {'Agency': 'School Construction Authority (SCA)'}},
  'availableDisplayTypes': ['table', 'fatrow', 'page']},
 'owner': {'id': '5fuc-pqz2',
  'displayName': 'NYC OpenData',
  'profileImageUrlLarge': '/api/users/5fuc-pqz2/profile_images/LARGE',
  'profileImageUrlMedium': '/api/users/5fuc-pqz2/profile_images/THUMB',
  'profileImageUrlSmall': '/api/users/5fuc-pqz2/profile_images/TINY',
  'screenName': 'NYC OpenData',
  'type': 'interactive',
  'flags': ['acceptedEula', 'mayBeStoriesCoOwner']},
 'query': {},
 'rights': ['read'],
 'tableAuthor': {'id': '5fuc-pqz2',
  'displayName': 'NYC OpenData',
  'profileImageUrlLarge': '/api/users/5fuc-pqz2/profile_images/LARGE',
  'profileImageUrlMedium': '/api/users/5fuc-pqz2/profile_images/THUMB',
  'profileImageUrlSmall': '/api/users/5fuc-pqz2/profile_images/TINY',
  'screenName': 'NYC OpenData',
  'type': 'interactive',
  'flags': ['acceptedEula', 'mayBeStoriesCoOwner']},
 'flags': ['default',
  'ownerMayBeContacted',
  'restorable',
  'restorePossibleForType']}

SELECT 3K Projects by Site Locations CAT Education DESC 3K Projects by Site Locations